.main-border{
    border: 0px solid rgb(75, 217, 139);
    width : 550px;
    height: 470px;
    padding: 100px 70px 50px 50px;
    border-radius: 10px;
    margin : 50px auto;
    background-color: rgb(34, 235, 151);
    box-sizing: border-box;
}

.text{
    font-family: 'Nunito', sans-serif;
    font-family: 'Poppins', sans-serif;
    text-align: left;
}

.text-size1{
    font-size: 2.3em;
    line-height: 30%;
}

.text-size2{
    font-size: 0.875em;
    font-weight: 550;
    margin-top: 5%;
}

.btn{
    border: 1px solid rgb(246, 242, 242);
    padding:10px;
    width: 55%;
    border-radius: 50px;
    line-height: 150%;
    margin-top: 5%;
    margin-left: 2%;
    font-size: 20px;
    text-align: center;
    letter-spacing: -1px;
    
}